
.content-table::before {
  display: block;
  height: 30px;
  content: '';
}

.content-table {
  margin: 20px 0 0;
  background-color: #ffffff;
}

.content-table .action {
  text-align: center;
}

.content-table::after {
  display: block;
  height: 30px;
  content: '';
}

#restore-modal .restore-tips {
  margin-left: 10px;
}