.alert {
	width: 400px;
	margin: 0 auto;
}

.title {
	background-color: #4777e9;
	width: 97%;
	height: 40px;
	margin: 0px auto;
	boder: 1px solid darkblue;
	box-shadow: 1px 1px 3px #6588d1;
	border-radius: 5px;
	color: #f8fafc;
}

.title h4 {
	height: 100%;
	line-height: 40px;
	padding-left: 30px;
}

.add .btn, .find .btn {
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	margin-right: 20px;
}

.find, .list {
	background-color: #fffeff;
	width: 97%;
	margin: 10px auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 3px 3px rgba(0,0,0,.1);
}

.find {
	margin-bottom: 30px;
}

.find input[class="form-control"] {
	width: 300px;
}

.find .btn {
	margin-right: 0;
}

.list {
	background-color: #fff;
	padding-bottom: 0;
}

.list .table {
	margin-bottom: 0;
}

.list a:hover {
	text-decoration: none;
	color: #0099FF;
	cursor: pointer;
}

.list nav {
	float: right;
	margin-bottom: -10px;
}
