.alert {
	width: 400px;
	margin: 0 auto;
}

.toolFind, .toolList {
	position: relative;
}

.toolFind {
	margin-bottom: 20px;
}

.input{
	display: flex;
	justify-content: space-between;
}

.toolFind .form-inline textarea {
	width: 300px;
	margin: 10px 30px 10px 0;
}

.toolFind .btn-lg {
	padding-left: 20px;
	padding-right: 20px;
}

.toolList .table {
	margin-bottom: 0;
}

.toolList table a:hover {
	text-decoration: none;
	color: #0099FF;
	cursor: pointer;
}

.toolList .btn-primary {
	margin-top: 20px;
	float: right;
	margin-left: 10px;
}

.toolList nav {
	float: right;
	margin-bottom: -10px;
}

@media screen and (max-width: 580px) {
	/*屏幕宽度小于等于580px才会显示该样式*/
	.alert {
		width: 100%;
	}
	
	.input {
		flex-wrap: wrap;
	}
	
	.input input {
		width: 45%;
		margin-top: 10px;
	}
	
	.toolFind .form-inline textarea {
		width: 100%;
	}
	
	.toolFind .btn {
		float: right;
	}
}